# Backend API
NEXT_PUBLIC_API_ROOT=https://your-api-url/
NEXT_PUBLIC_API_TOKEN=Bearer your-api-token

# App
NEXT_PUBLIC_MAIN_PAGE='/dashboard'
APP_BASE_URL='http://localhost:3000'

# Metabase (optional)
METABASE_SITE_URL=https://your-metabase-url
METABASE_SECRET_KEY=your-metabase-secret-key

# Sentry (optional)
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
NEXT_PUBLIC_SENTRY_PROJECT=
NEXT_PUBLIC_SENTRY_ORG=